

.reviews{
   margin: 50px 0 0 0;
    padding: 0;
}

.loading{
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.message {
    display: block;
align-self: center;
  margin-top: 10px auto;
  font-size: large;
font-weight: 600;
  color:rgba(36, 17, 68, 0.637);
}